[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "hatch-jupyter-builder"
version = "0.1.0"
description = 'A hatch plugin to help build Jupyter packages'
readme = "README.md"
requires-python = ">=3.7"
license = "MIT"
keywords = []
authors = [
  { name = "Steven Silvester", email = "steven.silvester@ieee.org" },
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
]
dependencies = []

[project.urls]
Documentation = "https://github.com/blink1073/hatch-jupyter-builder#readme"
Issues = "https://github.com/blink0173/hatch-jupyter-builder/issues"
Source = "https://github.com/blink0173/hatch-jupyter"

[project.optional-dependencies]
test = ["pytest", "pytest-mock", "pre-commit", "hatchling", "pytest-cov"]

[tool.hatch.build.targets.sdist]
[tool.hatch.build.targets.wheel]

[project.entry-points.hatch]
jupyter = "hatch_jupyter_builder.hooks"

[tool.black]
line_length = 100

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
addopts = "-raXs --durations 10 --color=yes --doctest-modules"
testpaths = [
    "tests/"
]
filterwarnings = [
  "error"
]

[tool.jupyter-releaser]
skip = ["check-links"]

[tool.jupyter-releaser.options]
post-version-spec = "dev"

[tool.tbump.version]
current = "0.1.0"
regex = '''
  (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
  ((?P<channel>a|b|rc|.dev)(?P<release>\d+))?
'''

[tool.tbump.git]
message_template = "Bump to {new_version}"
tag_template = "v{new_version}"

[[tool.tbump.file]]
src = "hatch_jupyter_builder/__init__.py"
version_template = '{major}.{minor}.{patch}{channel}{release}'

[[tool.tbump.file]]
src = "pyproject.toml"
version_template = "{major}.{minor}.{patch}{channel}{release}"

[[tool.tbump.field]]
name = "channel"
default = ""

[[tool.tbump.field]]
name = "release"
default = ""

[tool.mypy]
check_untyped_defs = true
disallow_incomplete_defs = true
no_implicit_optional = true
pretty = true
show_error_context = true
show_error_codes = true
strict_equality = true
warn_unused_configs = true
warn_unused_ignores = true
warn_redundant_casts = true
